body {
	margin: 0;
	text-align: center;
}

#container h1 {
	margin: 0;
}
header {
	margin: 0;
	background:#999;
	height: 100px;
	background: #dbdbdb;
	width: 100%;
	z-index: 100; 
	position: fixed;

}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
}

nav ul li {
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;

}

nav ul li a {
	color: white;
}

#banner {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background: #707070;
}

#content {
	width: 100%;
	position: relative;
	top: 400px;
	background: #ebebeb;
	height: 1500px;
}
